/* Strat Main Rules */
body{
    background-color: #FFF;
    height:4000px;
}
.clearfix{clear: both;}

.container{
    width:1170px;
    margin: auto;
}
/* End Main Rules */

/* Start Header Rules */

.header .slider{
    height:500px;
}

.header .navbar{
    background-color: #252f31;
    color:#FFF;
    overflow: hidden;
    
}

.header .navbar h2{
    float:left;
    text-transform: uppercase;
}
.header .navbar h2 span{
    color:#009c91
} 
 .header .navbar ul{
    list-style: none;
    padding-left:0px;
    float: right;
    overflow: hidden;
    
}
 .header .navbar ul li{
    float:left;
    padding:10px; 
 }
/* End Header Rules */
/* Start Featres Rules */
.featres{
    overflow: hidden;
    padding-top:30px;
    padding-bottom: 30px;
}
.featres .feat{
    float:left;
    background-color: cadetblue; /*for testing*/
    width:33.33%;
    height:150px;

}
/* End Featres Rules */

/* Start About Me */
.about-me{
    overflow: hidden;
    background-color: cyan;
}
.my-image{
    width:40%;
    float: left;
}
.my-image img{width:100%}
.about-me .my-info{
    float:left;
    width: 60%;
    overflow: hidden; 
}

.about-me .my-info .my-hobbies > div{
    float: left;
    width: 50%;
    min-height: 70px;
}


/* End About Me */
/* Start My Skills */
.my-skills{
    padding-top:30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-skills .skills,
.my-skills .progress{
    float: left;
    width:50%;

}
/* End My Skills */
/* Start My Resume */
    .my-resume{
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        background-color: darkgrey;
    }
/* End My Resume */
/* Start My Education */
.my-education{
    padding-top:30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.my-education .main,
.my-education  .experience{
    float: left;
    width:50%;

}
/* End My Education */
/* Start Testimonils */
.testimonials{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: darkgrey;
}
/* End Testimonils */